* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before, *::after {
    content: "";
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

input {
    width: 0;
    height: 0;
}

body {
    min-width: 1200px;
    background-image:
    linear-gradient(66deg, rgba(46, 113, 249, 0.3), rgba(0,255,0,0) 70.71%),
    linear-gradient(-66deg, rgba(90, 242, 244, 0.3), rgba(57, 77, 255, 0) 70.71%);  
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.center {
    width: 1200px;
    margin: 0 auto;
}

.header {
    height: 60px;
    margin-bottom: 20px;
    background-color: #000;
    color: #fff;
    line-height: 55px;
    opacity: 0.8;
}

.header h1 {
    float: left;
}

.header span {
    float: right;
    color: #fff;
}

textarea {
    width: 1200px;
    padding: 4px 7px;
    font-size: 18px;
    resize: vertical;
    outline: none;
    box-shadow: 0 4px 11px rgba(46, 113, 249, 0.3);
}

.buttons {
    height: 100px;
    padding-top: 24px;
}

.buttons button {
    width: 150px;
    height: 50px;
    margin-right: 20px;
    border: none;
    border-radius: 11px;
    color: #fff;
    font-size: 18px;
    background-color: #4782ff;
}

.buttons button:active {
    border: 2px solid #fae5bd;
    box-shadow: 0 0 5px #fae5bd;
}

.buttons .clear-info {
    margin-left: 20px;
    background-color: #ff3d3d;
}

.buttons label {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 40px;
}

.buttons .unicode {
    /* opacity: 0; */
    position: absolute;
    color: #5e5e5e;
    transform: translate(124px, -4px);
    transition: opacity 0.3s;
}

.buttons input:checked ~ span {
    opacity: 0;
}

.buttons input::before {
    position: absolute;
    display: inline-block;
    top: 18px;
    width: 200px;
    height: 40px;
    transform: translate(0,-30px);
    border-radius: 50px;
    color: #fff;
    background-color: #dedede;
    box-shadow: 0 3px 11px rgba(71, 130, 255, 0.7);
    transition: background-color 0.5s;
}

.buttons input::after {
    position: absolute;
    top: -7px;
    left: 5px;
    width: 80px;
    height: 30px;
    border-radius: 50px;
    background-color: #fff;
    transition: left 0.5s;
    box-shadow: 0 0 3px rgba(156, 187, 255, 0.7);
}

.buttons input:checked::after {
    left: 115px;
    background-color: #fff;
}

.buttons input:checked::before {
    background-color: #aeee6a;
}