* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

body {
    min-width: 1200px;
    background-image:
    linear-gradient(66deg, rgba(46, 113, 249, 0.3), rgba(0,255,0,0) 70.71%),
    linear-gradient(-66deg, rgba(90, 242, 244, 0.3), rgba(57, 77, 255, 0) 70.71%);  
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.center {
    width: 1200px;
    margin: 0 auto;
}

.header {
    height: 60px;
    margin-bottom: 20px;
    background-color: #000;
    color: #fff;
    line-height: 55px;
    opacity: 0.8;
}

.header h1 {
    float: left;
}

.header span {
    color: #fff;
    float: right;
}

.content .all-article {
    float: left;
    width: 72%;
}

.content .all-article li {
    height: 200px;
    margin-bottom: 20px;
    border-radius: 11px;
    background-color: #fff;
    box-shadow: 0px 3px 7px -3px rgba(0,0,0,0.3);
    overflow: hidden;
    opacity: 0.9;
}

.content .all-article li img {
    float: left;
    width: 34%;
    height: 100%;
}

.content .all-article li .info {
    float: right;
    width: 66%;
    padding: 24px 40px;
}

.content .all-article li .info p {
    margin-top: 9px;
    margin-bottom: 15px;
    font-size: 15px;
}

.content .info-panel {
    float: right;
    width: 26%;
    opacity: 0.9;
}

.content .info-panel .box {
    height: 400px;
    margin-bottom: 20px;
    padding: 11px 15px;
    border-radius: 11px;
    background-color: #fff;
    box-shadow: 0px 3px 7px -3px rgba(0,0,0,0.3);
}

.content .info-panel .box h2 {
    padding-bottom: 5px;
    border-bottom: 3px solid #000;
}

.content .info-panel .new-article li {
    display: block;
    height: 54px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}


.content .info-panel .new-article li div {
    float: right;
    display: block;
    width: 75%;
    height: 59px;
    padding: 1px 11px;
    font-size: 12px;
}

.content .info-panel .new-article li img{
    float: left;
    width: 25%;
    height: 100%;
}

.content .info-panel .new-article li h3 {
    font-size: 14px;
}
