* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

body {
    min-width: 1200px;
}

/* 头部· */
.header {
    height: 60px;
    margin-bottom: 20px;
    background-color: #000;
    color: #fff;
    line-height: 55px;
    opacity: 0.8;
}

.header h1 {
    float: left;
    margin-left: 5%;
}

.header span {
    color: #fff;
    float: right;
    margin-right: 5%;
}

.center {
    width: 1200px;
    margin: 0 auto;
}

/* 所有文章 */
.content {
    width: 80%;
}

.content li {
    width: 1200px;
    height: 250px;
    overflow: hidden;
    margin-bottom: 25px;
    border-radius: 11px;
    box-shadow: 0px 3px 7px -3px rgba(0,0,0,0.3);
}

.content li img {
    float: left;
    width: 32%;
    height: 100%;
}

.content li .info {
    position: relative;
    float: left;
    width: 65%;
    height: 100%;
    padding: 24px 40px;
}

.content .info h3 {
    padding-left: 5px;
    border-left: 8px solid rgba(0,0,0,0.85);
}

.content .info p {
    margin-top: 15px;
    font-size: 15px;
}

.content .info span {
    position: absolute;
    bottom: 15px;
}